@{
    ViewBag.Title = "About Us";
    ViewBag.Message = "Vidly is an online rental movie store where customers can:";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<ul>
    <li>See previews of the year's upcoming movies before they hit the Box Office at VIDLY, your source for new movie previews, news and reviews! </li>
    <li>Stay up to date with new movie news, watch the latest movie trailers & get trusted reviews of upcoming movies & more from the team at Collider.</li>
    <li>Browse per Genre, See Movie Trailers & Watch Movies Online & On Demand. Choose from thousands, including new releases. Start streaming movies now at VIDLY.</li>
</ul>
