@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VIDLY</h1>
    <p class="lead">Vidly is an online rental movie store where customers can rent any movies they want for unlimited periodd of time.</p>
    <p><a href="home/about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Upcoming Movies</h2>
        <p>
            See previews of the year's upcoming movies before they hit the Box Office at VIDLY, your source for new movie previews, news and reviews!
        </p>
        <p><a class="btn btn-default" href="movies">Check 'Em Out &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>New Release</h2>
        <p>Stay up to date with new movie news, watch the latest movie trailers & get trusted reviews of upcoming movies & more from the team at Collider.</p>
        <p><a class="btn btn-default" href="movies">Check 'Em Out &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>On Demand</h2>
        <p>Browse per Genre, See Movie Trailers & Watch Movies Online & On Demand. Choose from thousands, including new releases. Start streaming movies now at VIDLY.</p>
        <p><a class="btn btn-default" href="movies">Check 'Em Out &raquo;</a></p>
    </div>
</div>